<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客-列表</title>
</head>
<body>
    <!-- blog->from -->
    <form action="/blog/create/" method="post">
        {% csrf_token %}
        Title:
        <input type="text" name="title" /><br>
        Body:
        <textarea name="body" id="" cols="60" rows="4"></textarea><br>
        <input type="submit" name="" id=""/>
    </form>
    <hr>
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.timestamp }}</p>
    <p>{{ post.body }}</p>
    <hr>
    {% endfor %}
</body>
</html>